##============================
## Open Weather Configurations
##============================
WEAHTER_API_KEY=""
BASE_URL=""


##=============================
## Snowflake Configurations
##=============================
SNOWFLAKE_ACCOUNT=""
SNOWFLAKE_USER=""
SNOWFLAKE_PASSWORD=""
SNOWFLAKE_ROLE=""
SNOWFLAKE_WAREHOUSE=""
